---
import VersionPage from '@/components/pages/VersionPage';
import '@/styles/globals.css';
---
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>版本信息 - FastBlog</title>
    
</head>
<body>
<VersionPage client:idle/>
</body>
</html>
