---
import ExtNFT from '@/components/pages/admin/ext/ExtNFT';
import '@/styles/globals.css';
---
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>NFT 管理 - FastBlog</title>
    
</head>
<body>
<ExtNFT client:idle/>
</body>
</html>
