---
import ProductsPage from '@/components/pages/ProductsPage';
import '@/styles/globals.css';
---
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>商城 - FastBlog</title>
    
</head>
<body>
<ProductsPage client:idle/>
</body>
</html>
