---
import VipPage from '@/components/pages/VipPage';
import '@/styles/globals.css';
---
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>VIP - FastBlog</title>
    
</head>
<body>
<VipPage client:idle/>
</body>
</html>
