---
import ExtCertification from '@/components/pages/admin/ext/ExtCertification';
import '@/styles/globals.css';
---
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>专家认证 - FastBlog</title>
    
</head>
<body>
<ExtCertification client:idle/>
</body>
</html>
