---
import AdminEnterprise from '@/components/pages/admin/AdminEnterprise';
import '@/styles/globals.css';
---
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>企业管理 - FastBlog</title>
    
</head>
<body>
<AdminEnterprise client:idle/>
</body>
</html>
