---
import ExtRecommendations from '@/components/pages/admin/ext/ExtRecommendations';
import '@/styles/globals.css';
---
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>推荐系统 - FastBlog</title>
    
</head>
<body>
<ExtRecommendations client:idle/>
</body>
</html>
