---
import AdminAI from '@/components/pages/admin/AdminAI';
import '@/styles/globals.css';
---
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>AI 工具 - FastBlog</title>
    
</head>
<body>
<AdminAI client:idle/>
</body>
</html>
