---
// 用户个人资料页
import Layout from '@/layouts/Layout.astro';
import UserProfile from '@/components/pages/UserProfile';
---

<Layout title="个人资料 - FastBlog">
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <UserProfile client:load />
  </div>
</Layout>
