---
// 搜索页
import Layout from '@/layouts/Layout.astro';
import SearchPage from '@/components/pages/SearchPage';
import '@/styles/globals.css';
---

<Layout title="搜索 - FastBlog">
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <SearchPage client:load />
  </div>
</Layout>
