---
import AdminAppearance from '@/components/pages/admin/AdminAppearance';
---

<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>外观设置 - FastBlog</title>
    <link rel="stylesheet" href="/src/styles/globals.css"/>
</head>
<body>
<AdminAppearance client:idle/>
</body>
</html>
