---
import AdminCache from '@/components/pages/admin/AdminCache';
---

<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>缓存管理 - FastBlog</title>
    <link rel="stylesheet" href="/src/styles/globals.css"/>
</head>
<body>
<AdminCache client:idle/>
</body>
</html>
