---
import AdminEmailTemplates from '@/components/pages/admin/AdminEmailTemplates';
import '@/styles/globals.css';
---

<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>邮件模板 - FastBlog</title>
    
</head>
<body>
<AdminEmailTemplates client:idle/>
</body>
</html>
