---
import AdminThemeMarketplace from '@/components/pages/admin/AdminThemeMarketplace';
import '@/styles/globals.css';
---

<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>主题市场 - FastBlog</title>
    
</head>
<body>
<AdminThemeMarketplace client:idle/>
</body>
</html>
