---
import AdminThirdPartyPublish from '@/components/pages/admin/AdminThirdPartyPublish';
import '@/styles/globals.css';
---

<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>第三方发布 - FastBlog</title>
    
</head>
<body>
<AdminThirdPartyPublish client:idle/>
</body>
</html>
