---
import AdminUpgrade from '@/components/pages/admin/AdminUpgrade';
---

<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>系统升级 - FastBlog</title>
    <link rel="stylesheet" href="/src/styles/globals.css"/>
</head>
<body>
<AdminUpgrade client:idle/>
</body>
</html>
