---
import AdminWebhooks from '@/components/pages/admin/AdminWebhooks';
import '@/styles/globals.css';
---

<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Webhook 管理 - FastBlog</title>
    
</head>
<body>
<AdminWebhooks client:idle/>
</body>
</html>
