---
import AdminBackup from '@/components/pages/admin/AdminBackup';
import '@/styles/globals.css';
---
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>备份管理 - FastBlog</title>
    
</head>
<body>
<AdminBackup client:idle/>
</body>
</html>
