---
import AdminMigrationManagement from '@/components/pages/admin/AdminMigrationManagement';
import '@/styles/globals.css';
---
<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>迁移管理 - FastBlog</title>
    
</head>
<body>
<AdminMigrationManagement client:idle/>
</body>
</html>
