---
import AdminVip from '@/components/pages/admin/AdminVip';
import '@/styles/globals.css';
---
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>VIP 管理 - FastBlog</title>
    
</head>
<body>
<AdminVip client:idle/>
</body>
</html>
