---
import AdminComments from '@/components/pages/admin/AdminComments';
import '@/styles/globals.css';
---
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>评论管理 - FastBlog</title>
    
</head>
<body>
<AdminComments client:idle/>
</body>
</html>
