---
import AdminAds from '@/components/pages/admin/AdminAds';
---
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>广告管理 - FastBlog</title>
    <link rel="stylesheet" href="/src/styles/globals.css"/>
</head>
<body>
<AdminAds client:idle/>
</body>
</html>
