---
import ExtAIWriting from '@/components/pages/admin/ext/ExtAIWriting';
import '@/styles/globals.css';
---
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>AI 写作 - FastBlog</title>
    
</head>
<body>
<ExtAIWriting client:idle/>
</body>
</html>
